[Unit]
Description=MAC-API Service
ConditionPathExists=/usr/bin/mac-api
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=60

[Service]
Type=simple
User=mac-api
Group=mac-api

Restart=on-failure
RestartSec=15

ExecStart=/usr/bin/mac-api

# Make sure log directory exists
ExecStartPre=+/bin/mkdir -p /var/log/mac-api
ExecStartPre=+/bin/chown mac-api:mac-api /var/log/mac-api
ExecStartPre=+/bin/chmod 0744 /var/log/mac-api

[Install]
WantedBy=multi-user.target
